
@font-face {
    font-family: 'Red Hat Text';
    src: url('/assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('/assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('/assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

details summary {
    list-style: none;
}
details summary::-webkit-details-marker {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

nav, footer, header, aside, section, main {
    display: block;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

a, button, input, textarea {
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Red Hat Text', sans-serif;
    background-color: #FCF8F6;
}

:root {
    --red-color:#C73B0F;
    --red-color-hover:#C73B0F;
    --grey-color:#87635A;
    --black-color: #260F08;
    --radius8: 8px;
    --radius12: 12px;
    --border100: 100px

}

.main-content {
	padding: 88px 115px;
	display: grid;
    grid-template-columns:1fr 384px;
    gap: 32px;
}

.product-list__title {
    font-size: 40px;
	line-height: 120%;
    font-weight: 600;
}

.product-list__item img {
    border-radius: var(--radius8);
}

.product-list__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	margin-top: 32px;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.product-card__category {
	color: var(--grey-color);
	font-size: 14px;
	line-height: 120%;
	font-weight: 500;
}

.product-card__title {
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	font-weight: 400;
	font-family: 'Red Hat Text', sans-serif;
}

.product-card__btn {
	background-color: #fff;
	border-radius: var(--border100);
	border: 1px solid var(--grey-color);
	width: 100%;
	padding: 12px 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	top: 92%;
	max-width: 200px;
}

.product-card__price {
    font-size: 16px;
    font-weight: 400;
    color: var(--red-color);
	line-height: 120%;
}

.product-card__image-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
}

.product-list__item-bottom {
    display: flex;
    flex-direction: column;
}

.product-card__info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.cart {
	background-color: #fff;
	border-radius: var(--radius12);
	height: max-content;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.cart__title {
    color: var(--red-color);
    font-size: 24px;
    font-weight: 700;
}

.cart__item-details {
    display: flex;
    gap: 8px;
}

.cart__item-quantity {
    color: var(--red-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--red-color);
}

.cart__item-price {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
}

.cart__item-total {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 600;
}

.cart__item-title {
	color: var(--black-color);
	font-weight: 400;
	line-height: 150%;
	font-size: 14px;
}

.cart__item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 16px;
	border-bottom: 1px solid #F5EEEC;
	position: relative;
}

.cart__item:first-child {
	padding-bottom: 16px;
}

.cart__item:not(:first-child) {
	padding: 16px 0;
}

.cart__item-btn {
	border: 1px solid #AD8A85;
	border-radius: 100px;
	width: max-content;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 50%;
    transform: translateY(-50%); 
}

.cart__total-info {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.cart__total-label {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 300;
}

.cart__total-price {
    font-size: 24px;
    font-weight: 700;
	line-height: 150%;
    color: var(--black-color);
}

.cart__info {
    display: flex;
    gap: 8px;
    padding: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #FCF8F6;
    border-radius: 8px;
}   

.cart__info-text {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 300;
}

.cart__info-text span{
    color: var(--black-color);
    font-size: 14px;
    font-weight: 600;
}

.cart__confirm-btn {
    background-color: #C73B0F;
    color: #fff;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
}

.cart__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 16px;
}

.cart__empty-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--grey-color);
}

.order-popup {
    padding: 40px !important;
    border-radius: var(--radius12) !important;
}

.order-popup__header-title {
	font-size: 40px;
	line-height: 120%;
	font-weight: 700;
	margin-top: 24px;
}

.order-popup__header-desc {
	font-size: 16px;
    color: var(--grey-color);
    margin-top: 8px;
    font-weight: 500;
}

.order-popup__footer .cart__item-total {
	position: absolute;
	right: 0;
	font-weight: 60;
	top: 50%;
	transform: translateY(-50%);
}

.cart__item-col {
	display: flex;
    gap: 16px;
}

.cart__item-col img{
	width: 48px;
    height: 48px;
    border-radius: 4px;
}

.cart__item-col__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.order-popup__footer .cart__items {
	padding: 24px;
    background-color: #FCF8F6;
    margin-top: 32px;
    border-radius: var(--radius8);
}

.order-popup__footer .cart__item-price {
    color: var(--grey-color);
	font-weight: 500;
}

.order-popup__footer .cart__item-quantity {
	font-weight: 500;
}


.order-popup__footer .cart__confirm-btn {
    margin-top: 32px;
    font-size: 16px;
}

.order-popup__footer .cart__total-info {
	margin-top: 24px;
	font-weight: 500;
}

.product-card__count input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	font-size: 14px;
	color: #fff;
}
.product-card__count input[type="number"]::-webkit-outer-spin-button,
.product-card__count input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.number-minus {
	position: absolute;
	top: 50%;
	left: 12px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border-radius: 100px;
	border: 1px solid #fff;
	height: 20px;
	transform: translateY(-50%);
	justify-content: center;
	align-items: center;
	display: flex;
}

.number-plus {
	position: absolute;
    top: 50%;
	right: 12px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
    border-radius: 100px;
	border: 1px solid #fff;
    height: 20px;
	transform: translateY(-50%);
	justify-content: center;
	align-items: center;
	display: flex;
}

.product-card__count {
    background-color: var(--red-color);  
    border: 1px solid var(--red-color); 
}

@media(max-width:1200px) {
    .product-list__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:1000px) {
    .main-content {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .product-list__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .main-content {
        padding: 24px;
    }
}

@media(max-width:800px) {
    .product-list__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:500px) {
    .product-list__items {
        display: flex;
        flex-direction: column;
    }
    .order-popup__footer .cart__item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 153px;
        display: block;
    }
    .order-popup {
        padding: 24px !important;
    }
}

